img,
svg,
picture {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  text-wrap: nowrap;
}

.custom-block {
  height: 100%;
}
.custom-block:not(:last-child) {
  margin-bottom: 30px;
}

.custom-block-image-wrap {
  /* height: 100%; */
}

.profile-block-image {
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
}

/* search form styling */
.search-form .input-group {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.search-form input {
  background: none;
}

.search-form button {
  border-radius: 0 !important;
}

.search-form .search-filter-btn {
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 17px;
}
